@media (max-width: 575px) { 
	.card.panel {
		border: 0;
		margin: 0px;
		.card-block {
			// padding: 15px 0;
		}		
	}
}

// Accordions
.panel { 
	h5 {
		width: 90%;
		a {
			width: 100%; 
			display: block;
			color: black;
			&[data-toggle="collapse"]:after {
		    	font-family: 'FontAwesome';  
		    	content: "\f106";    
		    	float: right;       
		    	color: black;   
		    	position: absolute;
		    	top: 12px;
		    	right: 20px;   
			}
			&[data-toggle="collapse"].collapsed:after {
	    		content: "\f107";    
			}
		}
	}
	ul {
		padding-left: 1em;
	}
}