/* AZ List */
#azList-nav {
	padding: 5px 0;
	position: relative;
	margin: 20px 0;
	.ln-letters {
		margin-top: 25px;
	    display: table;
	    width: 100%;
	    border: 1px solid #000;
		a {
			position: relative;
		    width: 1%;
		    display: table-cell;
		    text-align: center;
		    padding: 12px 0;
		    color: #000;
		    text-decoration: none;
		    border-right: 1px solid #000;
		    &:last-child {border-right: none;}
		    &:hover {
		    	background-color: #000;
		    	color: white;
		    }
		}
	}
}

.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom: 1px; color: black; }

