.badge {
    font-size: .2em;
    display: block;
    position: absolute;
    top: 0em;
    right: -.75em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}