.breadcrumb {
  	padding: 8px 15px;
  	margin-bottom: 20px;
  	list-style: none;
  	background-color: #f3f4f5;
  	border-radius: 3px;
}
.breadcrumb > li {
  	display: inline-block;
}
.breadcrumb .is-hidden {
  	display: none;
}
.breadcrumb-ellipsis {
  	display: inline-block;
}
.breadcrumb-dropdown {
  	display: inline-block;
}
.breadcrumb > li.breadcrumb-ellipsis.is-hidden + li:before {
  	display: none;
}
.breadcrumb > li + li:before {
	content: "/\00a0";
  	padding: 0 5px;
  	color: #ccc;
}
.breadcrumb-dropdown + li:before,
.breadcrumb-ellipsis + li:before { 
	display: none; 
}
.breadcrumb-menu { 
	display: none; 
}
