/* Buttons */

@media (max-width: 575px) { 
	.btn-group-justified-xs {
	  	display: table;
	  	width: 100%;
	  	table-layout: fixed;
	  	border-collapse: separate;
	  	.btn,
	  	.btn-group {
	    	float: none;
	    	display: table-cell;
	    	width: 1%;
	    .btn {
	     	width: 100%;
	    }
	    .dropdown-menu {
	      	left: auto;
	    }
	  }
	}
}

span.btn-label,
span.btn-label.btn-label-right {
    padding: 8px 12px;    
}
span.btn-label {
    left: -16px;
}
span.btn-label.btn-label-right {
    right: -16px;
}

.btn-group-justified {
  	display: table;
  	width: 100%;
  	table-layout: fixed;
  	border-collapse: separate;
  	.btn,
  	.btn-group {
    	float: none;
    	display: table-cell;
    	width: 1%;
    .btn {
     	width: 100%;
    }
    .dropdown-menu {
      	left: auto;
    }
  }
}


/* Ladda buttons */
.ladda-button {
	padding: .5rem 1rem;
	font-size: 16px;
}


