/* Buttons */
span.btn-label,
span.btn-label.btn-label-right {
    padding: 8px 12px;    
}
span.btn-label {
    left: -16px;
}
span.btn-label.btn-label-right {
    right: -16px;
}

/* Ladda buttons */
.ladda-button {
	padding: .5rem 1rem;
	font-size: 16px;
}