/* Event Styling */
.event {
    // width: 100px;
    & > .month {
        padding: 7px 0;
        font-size: 15px;
        background-color: #009688;
        color: white;
        font-weight: 600;
        line-height: 1;
    }
    & > .day {
        border-left: 4px solid #009688;
        border-right: 4px solid #009688;
        // border-bottom: 4px solid #009688;
        letter-spacing: 0px;
        line-height: 1.2;
        text-align: center;
        font-size: 41px;
        font-weight: 600;
        letter-spacing: -2px;
        &:last-child {
            border-bottom: 4px solid #009688;
            margin-bottom: 2px;
        }
    }
    & > .year {
        border-left: 4px solid #009688;
        border-right: 4px solid #009688;
        border-bottom: 4px solid #009688;
        line-height: 1;
        padding-bottom: 6px;
    }
    text-align: center;
    text-transform: uppercase !important;

}

/* Full Calendar */
.fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 0;
    background: #009688 !important;
    color: white !important;
    .fc-time {
    	opacity: .5;
    }
}