.card-deck {
	.card > a {
		color: black;
		&:hover {
			text-decoration: none;
		}
	}
}


.card-flip[style] {
	transform-style: initial !important;
	& > .front[style],
	& > .back[style] {
		transform-style: initial !important;
	}
}