/* DataTables */

div.dataTables_wrapper {
    div.dataTables_filter {
        text-align: left;
        label {
            width: 100%;
            position: relative;
            &::after {
                font-family: 'FontAwesome';
                margin-top: 6px;
                margin-right: 13px;
                content: '\f002';
                position: absolute;
                right: 0;
            }
        }
        input {
            margin-left: 0;
            width: 100%;
        }
    }
    div.dataTables_length label {
      width: 100%;
      & > select {
        width: 100%;
      }
    }

}

table.dataTable.dtr-column>tbody>tr>td.control:before, 
table.dataTable.dtr-column>tbody>tr>th.control:before {
  background: black;
  border-radius: 0;
  box-shadow: none;
  border: none;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  margin-left: -18px;
}


table.dataTable.dtr-column>tbody>tr.parent td.control:before, 
table.dataTable.dtr-column>tbody>tr.parent th.control:before {
  background-color: black;
}

table.datatable {
    thead th {
        white-space: nowrap;
    }
    tbody {
        tr {
            td {
                white-space: nowrap;
            }
        }
    }
}

.dataTable.collapsed {
  tr.child {
    width: 100%;
    td {
      width: 100%;
      ul {
        width: 100%;
        li {
          span.dtr-title {
            width: 25%;
          }
          span.dtr-data {
            width: 75%;
          }
        }
      }
    }
  }
}