/* Forms */

.input-group-addon + .form-control,
.form-control + .input-group-addon {
	cursor: pointer;
}

.slider {
    width: 100% !important;
}
.toggle.btn {
	min-width: 65px;
	height: 38px;
	.toggle-handle {
	    background: #ddd;
	}
	.toggle-on, 
	.toggle-off  {
		top: -2px;
	}
	.toggle-on {}
	.toggle-off {}
}
.parsley-errors-list.filled {
    list-style-type: none;
    padding-left: 0;
    color: #d9534f;
    margin-bottom: 0;
}

.custom-file-control {
	overflow: hidden;
    line-height: 1.7;
}
.custom-file-control::before {
	content: "Browse";
}
.custom-file-control.selected::after {
	content: attr(data-before);
}
.custom-file-control::after {
	content: "Choose file...";
}

/* Input preview */
.fileinput-preview img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* fixes select2 responsive width problem */
.select2-container[style] {
	width: 100% !important;
	display: block;
}

.bootstrap-maxlength[style] {
	z-index: 1 !important;
}
.strength_wrapper[style] {
	height: initial !important;
}


.conditional {
	display: block;
	&::before {
   		display: block;
    	content: "";
    	clear: both;
  	}
}

fieldset.bordered {
    border: 1px solid rgba(0,0,0,.3);
    padding: 1rem;
    margin: 1rem 0;
    legend {
	    font-size: 1rem;
	    text-align: left;
	    width:auto;
	    padding:0 10px;
	    border-bottom:none;
	}
}

.select2-container--bootstrap .select2-selection {
	box-shadow: none;
	border-radius: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
	* {
		border-radius: 0 !important;
	}
	padding: 10px;
	.picker-switch {
		background: black;
		color: white;
		border-radius: 0;
	}
	ul.list-unstyled {
		padding-left: 0;
	}
	table thead tr:first-child th {
		background: grey;
	    
	    color: white;
	}
}

// https://github.com/jackocnr/intl-tel-input
.iti-flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/13.0.2/img/flags.png");
}
