/* Forms */

.slider {
    width: 100% !important;
}
.toggle.btn {
	min-width: 65px;
	.toggle-handle {
	    background: #ddd;
	}
	.toggle-on, 
	.toggle-off  {
		top: -2px;
	}
	.toggle-on {}
	.toggle-off {}
}
.parsley-errors-list.filled {
    list-style-type: none;
    padding-left: 0;
}


/* fixes select2 responsive width problem */
.select2-container[style] {
	width: 100% !important;
}

.bootstrap-maxlength[style] {
	z-index: 1 !important;
}
.strength_wrapper[style] {
	height: initial !important;
}


// Pease ob