/* Forms */

.slider {
    width: 100% !important;
}
.toggle.btn {
	min-width: 65px;
	.toggle-handle {
	    background: #ddd;
	}
	.toggle-on, 
	.toggle-off  {
		top: -2px;
	}
	.toggle-on {}
	.toggle-off {}
}
.parsley-errors-list.filled {
    list-style-type: none;
    padding-left: 0;
}


/* fixes select2 responsive width problem */
.select2-container[style] {
	width: 100% !important;
}

.bootstrap-maxlength[style] {
	z-index: 1 !important;
}
.strength_wrapper[style] {
	height: initial !important;
}


.conditional {
	display: block;
	width: 100%;
	&::before {
   		display: block;
    	content: "";
    	clear: both;
  	}
}


fieldset.bordered {
    border: 1px solid rgba(0,0,0,.3);
    padding: 1rem;
    margin: 1rem 0;
    legend {
	    font-size: 1rem;
	    font-weight: bold;
	    text-align: left;
	    width:auto;
	    padding:0 10px;
	    border-bottom:none;
	}

}

