/* Forms */
.slider {
    width: 100% !important;
}
.toggle-handle {
    background: #ddd;
}
.parsley-errors-list.filled {
    list-style-type: none;
    padding-left: 0;
}


/* fixes select2 responsive width problem */
.select2-container[style] {
	width: 100% !important;
}


