.gallery {
	a {
		font-size: 0;
		line-height: 0;
		img {max-width: 100px;}
	}
}

a:not([href]):not([tabindex]) {
	color: rgba(255,255,255,0.5);
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
	color: rgba(255,255,255,1);
}