.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px; 
    a { 
        text-decoration: none;
        &:hover {background-color: transparent;}
    }
   .img-container {
        width: 20%;
        float: left;
        margin-right: 20px;
    }
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
    background: #428bca;
}
.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}
.item.list-group-item:after {
    clear: both;
    
}
