// Fixes Offcanvas nav jump
.navmenu-fixed-right {left: auto !important;}
.navbar-toggle {left: auto !important;}
body.canvas-sliding, body.canvas-slid {left: auto !important;}

nav {
	&#hbs-left-nav {
		& > li {
			& > a {
				display: block;
				width: 100%;
				&:after {
				  content: '\f105';
				  font-family: 'FontAwesome';
				  position: absolute;
					right: 0;				  
				}
			}
		}
	}
}