._after {
	font-family: 'FontAwesome';
	content: '\f14c';  
	display: inline-block;
	margin-left: 5px;
	vertical-align: super;
    font-size: 60%;
    text-decoration: none !important;
}

a {
	&:hover {text-decoration: none;}
	&.external {
		&::after {
			@extend ._after;
		}
		&[href$=".pdf"]::after { content: '\f1c1'; }
		&[href$=".doc"]::after { content: '\f1c2'; }
		&[href$=".ppt"]::after, 
		&[href$=".pptx"]::after  { content: '\f1c4'; }
		&[href$=".xls"]::after,
		&[href$=".xlsx"]::after  { content: '\f1c3'; }
		&[href$=".mp4"]::after, 
		&[href$=".mpeg"]::after  { content: '\f1c8'; }
		&[href$=".wav"]::after, 
		&[href$=".mp3"]::after { content: '\f1c7'; }
	}
	&.lock {
		&::after {
			@extend ._after;
			content: '\f023';
		}
	}

}




