header {
  // Top Navigation
  .navbar {
    .navbar-brand {
    }
    .nav-item { 
      a { 
      }
      .dropdown-menu {
        a {
        }
      }
    }
  }
  #search-container {
    padding: 15px;
  }
}

// Left Navigation
#hbs-left-nav, #off-canvas-nav {
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    & > li {
      & > a {
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        width: 100%;
        &:hover {}
        &::after {
          content: '\f105';
          font-family: 'FontAwesome';
          position: absolute;
          right: 15px;
        }
      }
      &.active {}
      & > ul {
        li {
          a { 
          }
        }
      }
    }
  }
}

#off-canvas-nav {
  .navbar-brand {
    display: block;
    float: none;
    padding: 12px; 
    text-align: center;
  }
}