// center modal
// .modal .modal-dialog {
//     transform: translate(0, -50%) !important;
//     top: 50%;
//     margin: 0 auto;
// }

// // prevents body from scrolling when modal is open
body.modal-open {
	overflow: hidden !important; 
	padding-right: 15px !important;
}

.modal-body.scrollable {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

// Custom glassy styling
body.modal-open .container-fluid,   
body.modal-open .container,  { 
	-webkit-filter: blur(2px); 
	-moz-filter: blur(2px); 
	-o-filter: blur(2px); 
	-ms-filter: blur(2px); 
	filter: blur(2px); 
}