@import 'bootstrap-reset';
@import 'alerts';
@import 'accordion';
@import 'back-to-top';
@import 'colors';
@import 'calendar';
@import 'cards';
@import 'breadcrumbs';
@import 'buttons';
@import 'palette';
@import 'forms';
@import 'icons';
@import 'login';
@import 'left-nav';
@import 'carousel';
@import 'gallery';
@import 'datatables';
@import 'tabs';
@import 'footer';
@import 'loaders';
@import 'links';
@import 'typography';
@import 'progress-bar';
@import 'azlist';
@import 'toasts';
@import 'page-header';
@import 'search';
@import 'wysiwyg';

@media (max-width: 575px) { 
	#mainbody {
		margin-bottom: 0px !important;
		padding-bottom: 0px !important;
	}
	#side-panels {
		margin-top: 0 !important;
		padding-top: 0 !important;
		margin-bottom: 20px;
	}
}