@import 'bootstrap-reset';
@import 'accordion';
@import 'colors';
@import 'breadcrumbs';
@import 'buttons';
@import 'palette';
@import 'forms';
@import 'left-nav';
@import 'carousel';
@import 'datatables';
@import 'tabs';
@import 'loaders';
@import 'typography';
@import 'progress-bar';
@import 'wysiwyg';


.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


/*
.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:  flex;	
}
.row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}
*/