@import 'bootstrap-reset';
@import 'accordion';
@import 'colors';
@import 'calendar';
@import 'breadcrumbs';
@import 'buttons';
@import 'palette';
@import 'forms';
@import 'left-nav';
@import 'carousel';
@import 'datatables';
@import 'tabs';
@import 'footer';
@import 'loaders';
@import 'typography';
@import 'progress-bar';
@import 'azlist';
@import 'wysiwyg';

html {
  position: relative;
  min-height: 100%;
}

// .row {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display:         flex;
//   flex-wrap: wrap;
// }
// .row > [class*='col-'] {
//   display: flex;
//   flex-direction: column;
// }
