@import 'bootstrap-reset';
@import 'alerts';
@import 'accordion';
@import 'back-to-top';
@import 'colors';
@import 'calendar';
@import 'cards';
@import 'breadcrumbs';
@import 'buttons';
@import 'palette';
@import 'forms';
@import 'icons';
@import 'login';
@import 'left-nav';
@import 'carousel';
@import 'gallery';
@import 'navbar';
@import 'datatables';
@import 'tabs';
@import 'footer';
@import 'list-group';
@import 'loaders';
@import 'links';
@import 'typography';
@import 'progress-bar';
@import 'azlist';
@import 'toasts';
@import 'pill';
@import 'page-header';
@import 'search';
@import 'wizard';
@import 'wysiwyg';

@media (max-width: 575px) { 
	#mainbody {
		margin-bottom: 0px !important;
		padding-bottom: 0px !important;
	}
	#side-panels {
		margin-top: 0 !important;
		padding-top: 0 !important;
		margin-bottom: 20px;
	}
}


.overlay {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    pointer-events: none;
}

// Sparkline tooltip
.jqstooltip{
    box-sizing: content-box;
}