@import 'palette';

@function set-text-color($element) {
  @if (lightness($element) > 60) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

$themes: (
  BlueGrey  : (color: 'BlueGrey'),
  Teal      : (color: 'Teal'), 
  Red       : (color: 'Red'),
  Pink      : (color: 'Pink'),
  Purple    : (color: 'Purple'),
  DeepPurple: (color: 'DeepPurple'),
  Indigo    : (color: 'Indigo'),
  Blue      : (color: 'Blue'),
  Lightblue : (color: 'LightBlue'),
  Cyan      : (color: 'Cyan'),
  Green     : (color: 'Green'),
  LightGreen: (color: 'LightGreen'),
  Lime      : (color: 'Lime'),
  Yellow    : (color: 'Yellow'),
  Amber     : (color: 'Amber'),
  Orange    : (color: 'Orange'),
  DeepOrange: (color: 'DeepOrange'),
  Brown     : (color: 'Brown'),
  Grey      : (color: 'Grey'),
);

@each $theme, $map in $themes {

  // Theme Variables
  $theme-main-color:        palette(map-get($map, color), 500);

  $header-bg:               palette(map-get($map, color), 300);
  $navbar-bg:               palette(map-get($map, color), 700);
  $search-container-bg:   palette(map-get($map, color), 500);

  $breadcrumb-bg:           palette(map-get($map, color), 50);

  $left-nav-bg:             palette(map-get($map, color), 400);
  $left-nav-bg-hover:       palette(map-get($map, color), 600);
  $left-nav-active:         palette(map-get($map, color), 800);

  $off-canvas-bg:           palette(map-get($map, color), 900);

  $btn-primary-bg:          palette(map-get($map, color), 600);
  $btn-primary-text:        set-text-color($btn-primary-bg);
  $btn-primary-bg-hover:    palette(map-get($map, color), 800);

  $btn-secondary-bg:        palette(map-get($map, color), 100);
  $btn-secondary-text:      set-text-color($btn-secondary-bg);
  $btn-secondary-bg-hover:  palette(map-get($map, color), 300);

  $footer-bg:               palette(map-get($map, color), 50);


  .theme-#{$theme} {
    background-color: $theme-main-color;
    color: $theme-main-color;
  }

  // Prefix Loop
  .#{$theme} {

    header {
      background-color: $header-bg;
      // Top Navigation
      .navbar {
        background-color: $navbar-bg;
        .navbar-brand {
          color: set-text-color($navbar-bg);
        }
        .nav-item { 
          a { 
            color: set-text-color($navbar-bg); 
          }
          .dropdown-menu {
            a {
              color: initial;
            }
          }
        }
      }
      .page-title {
        color: set-text-color($header-bg);
      }
      #search-container {
        background-color: $search-container-bg;
      }
    }

    // Breadcrumb 
    .breadcrumb {
      background-color: $breadcrumb-bg;
    }

    // Left Navigation
    #hbs-left-nav, #off-canvas-nav {
      ul {
        & > li {
          background-color: $left-nav-bg;
          &.active {
            a {background-color: $left-nav-active;}
          }
          a {
            color: set-text-color($left-nav-bg);
            &:hover {
              background-color: $left-nav-bg-hover;
            }
          }
        }
      }
    }

    #off-canvas-nav {
      background-color: $off-canvas-bg;
      .navbar-brand {
        color: set-text-color($left-nav-bg);
      }
    }

    // buttons
    .btn-primary { 
      color: $btn-primary-text;
      background-color: $btn-primary-bg; 
      &:hover {
        color: $btn-primary-text;
        background-color: $btn-primary-bg-hover; 
      }
    }

    .btn-secondary { 
      color: $btn-secondary-text;
      background-color: $btn-secondary-bg; 
      &:hover {
        color: $btn-secondary-text;
        background-color: $btn-secondary-bg-hover; 
      }
    }

    footer {
      background-color: $footer-bg;
    }
   
  }
}


