@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong, .font-weight-bold {
	font-weight: 600;
}

.text-opaque {
	opacity: 0.7;
}


/* Responsive Display Styles */

$breakpoints: xs sm md lg xl;

@mixin display() {
	@each $x in $breakpoints {
		html.#{$x} .display-4 { font-size: 3.0em; };
		html.#{$x} .display-3 { font-size: 3.5em; };
		html.#{$x} .display-2 { font-size: 4.0em; };
		html.#{$x} .display-1 { font-size: 4.5em; };
	}
}

@include display();


