.fuelux {
	.wizard {
		.steps {
			li {
				.badge {
					padding: 0 5px;
				}
				&.active, 
				&.complete {
					.badge {
						color: white;
					}
				
				}
			}
		}
		.step-content > .active .btn-group .active {
			display: table-cell;  /* fixes bug with .btn-justified */
		}
	}
}


