{{#with this}}
<ol class="breadcrumb palette-blue-grey-50">
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/categories/{{_category.slug}}">{{_category.title}}</a></li>
    <li class="active">{{title}}</li>
</ol>
{{/with}}