<div class="container-fluid small text-white">
	<div class="row py-3">
		<div class="col-4">
			Version: {{current}} Beta
		</div>
		<div class="col-4 text-center">
			<a class="text-white" href="http://github.com/HBSAWS/platypus"><i class="fa fa-github" aria-hidden="true"></i></a>
			| Current Breakpoint: <span class="d-inline-block d-sm-none">XS</span>
			<span class="d-none d-sm-inline-block d-md-none">SM</span>
			<span class="d-none d-md-inline-block d-lg-none">MD</span>
			<span class="d-none d-lg-inline-block d-xl-none">LG</span>
			<span class="d-none d-xl-inline-block">XL</span>
		</div>
		<div class="col-4 text-right d-inline">
			Status: <i class="fa fa-circle text-success" aria-hidden="true"></i> Stable
		</div>
	</div>
</div>
<div class="container-fluid text-center p-3 palette-bg-blue-grey-800 small text-muted">
	Copyright © President &amp; Fellows of Harvard College
</div>

