<div class="container-fluid small text-white">
	<div class="row py-1">
		<div class="col-xs-4">
			Version: {{current}} Beta
		</div>
		<div class="col-xs-4 text-xs-center">
			<a class="text-white" href="http://github.com/HBSAWS/platypus"><i class="fa fa-github" aria-hidden="true"></i></a>
			| Current Breakpoint: <span class="hidden-sm-up">XS</span>
			<span class="hidden-xs-down hidden-md-up">SM</span>
			<span class="hidden-sm-down hidden-lg-up">MD</span>
			<span class="hidden-md-down hidden-xl-up">LG</span>
			<span class="hidden-lg-down">XL</span>
		</div>
		<div class="col-xs-4 text-xs-right d-inline">
			Status: <i class="fa fa-circle text-success" aria-hidden="true"></i> Stable
		</div>
	</div>
</div>
<div class="container-fluid text-xs-center p-1 palette-bg-blue-grey-800 small text-muted">
	Copyright © President &amp; Fellows of Harvard College
</div>

