<footer class="footer">
 
	<div class="container-fluid small">
		<div class="row pt-1">
			<div class="col-md-6 text-muted">Copyright © President &amp; Fellows of Harvard College</div>
			<div class="col-md-6">
				<ul class="theme-switcher list-inline pull-right">
				  {{#themes}}
				    <li class="list-inline-item"><a href="#" class="{{.}}" data-toggle="tooltip" data-placement="left" title="'{{.}}' theme"><i class="fa fa-square theme-{{.}}"></i></a></li>
				  {{/themes}}
				</ul>
			</div>
		</div>
	</div>

</footer>
