<nav id="hbs-left-nav">
  <ul class="list-unstyled p-a-3">
   
    {{!--
    <li>
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </li> 
    --}}

    {{#each this }}
      <li>
        <a href="#" aria-expanded="true">
          <span class="sidebar-nav-item-icon fa fa-{{icon}}"></span>
          {{title}}
        </a>
        <ul aria-expanded="true">
          {{#each articles }}
            <li><a href="/articles/{{slug}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </li>    
    {{/each}}
    
  </ul>
</nav>

