<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<title>Platypus</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{{#is current ver_selected  }}  
	<link rel="stylesheet" href="/dist/platypus.css"/>
{{else}}
	<link rel="stylesheet" href="https://d1gfwsbop52idw.cloudfront.net/static/libs/platypus/{{ver_selected}}/platypus.min.css"/>
{{/is}}

<!-- Do not include in dist -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/rainbow.min.css"/>
