<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if IE]> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<title>Platypus</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="HBS AppDev UI/UX Framework">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://s3.us-east-2.amazonaws.com/platypus-hbs/version/0.3/favicon.ico" type="image/png" rel="shortcut icon"/>
{{#is current ver_selected  }}  
	<link rel="stylesheet" href="/dist/platypus.min.css?{{moment}}"/>
{{else}}
	<link rel="stylesheet" href="https://d1gfwsbop52idw.cloudfront.net/static/libs/platypus/{{ver_selected}}/platypus.min.css?{{moment}}"/>
{{/is}}

<!-- Do not include in dist -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/rainbow.min.css"/>
