<!-- Event modal -->
<div id="event-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4>Event Details</h4>
            </div>
            <div class="modal-body">
                <div class="row event-listing">
                    <div class="col-xs-2 event">
                        <div class="month"></div>
                        <div class="day"></div>
                        <div class="year"></div>
                    </div>
                    <div class="col-xs-10">
                        <h3 class="event-title font-weight-bold"></h3> 
                        <span class="tag tag-default event-category"></span>
                        <ul class="list-unstyled">
                            <li><span class="event-starts"></span> - <span class="event-ends"></span></li>
                            <li><i class="fa fa-map-marker"></i> <a href="#" target="_blank"><span class="event-location"></span></a></li>
                        </ul>
                        <div class="event-description"></div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                <button class="btn btn-secondary"><a href="#">Download to Calendar</a></button>
                <button class="btn btn-primary"><a id="event-url" target="_blank">Event Details</a></button>
            </div>
        </div>
    </div>
</div>


<!-- Video modal -->
<div id="video-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                </div>             
            </div>
        </div>
    </div>
</div>



