<!-- Universal Modal -->
<div class="modal fade" id="universal-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Event modal -->
<div id="event-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4>Event Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-2 event text-xs-center">
                        <div class="event-start-month tag tag-default d-block text-uppercase">Jan</div>
                        <div class="event-start-day day display-4 border-1">22</div>
                    </div>
                    <div class="col-xs-10">
                        <h3 class="event-title font-weight-bold"></h3> 
                        <span class="tag tag-default event-category"></span>
                        <ul class="list-unstyled">
                            <li><span class="event-starts"></span> - <span class="event-ends"></span></li>
                            <li><i class="fa fa-map-marker"></i> <a href="#" target="_blank"><span class="event-location"></span></a></li>
                        </ul>
                        <div class="event-description"></div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
                <button class="btn btn-secondary"><a href="#">Download to Calendar</a></button>
                <button class="btn btn-primary"><a id="event-url" target="_blank">Event Details</a></button>
            </div>
        </div>
    </div>
</div>


<!-- Video modal -->
<div id="video-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                </div>             
            </div>
        </div>
    </div>
</div>


{{!-- <!-- Feedback modal -->
<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalLabel">Feedback</h4>
            </div>
            <div class="modal-body">


           </div>
       </div>
   </div>
</div> --}}
