<header>
    <div class="container-fluid palette-bg-teal-500 text-white">
        <div class="row pt-1">
            
            <div class="col-xs-2 col-sm-3 col-xl-2">
                <a href="/" class="hbs-logo hidden-md-down">
                    <img src="/images/branding/hbs-shield.svg" alt="">
                </a>
                <button class="hamburger hamburger--spin hidden-lg-up" type="button" data-toggle="offcanvas" data-target="#off-canvas-nav" data-canvas="body">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button> 
            </div>
            
            <div class="col-xs-8 col-sm-6 col-xl-8 text-xs-center text-sm-center text-truncate">
                <a href="/" class="btn"><span class="text-white h5">Platypus</span></a>
            </div>
            
            <div class="col-xs-2 col-sm-3 col-xl-2">
                <ul class="list-unstyled list-inline text-xs-right">
                    <li class="d-inline">
                        <a  href="#search-container" class="btn" data-toggle="collapse" aria-expanded="false" aria-controls="search-container">
                            <i class="fa fa-search text-white"></i>
                        </a>
                    </li>
                    <li class="d-inline hidden-sm-down">
                        <a href="/articles/new" class="btn">
                            <i class="fa fa-plus text-white"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="collapse palette-bg-teal-700" id="search-container">
        <div class="p-2">
      
            <form>
                <div class="typeahead__container">
                    <div class="typeahead__field">
             
                        <span class="typeahead__query">
                            <input class="js-typeahead"
                                   name="q"
                                   type="search"
                                   autocomplete="off"
                                   autofocus="">
                        </span>
                        <span class="typeahead__button">
                            <button type="submit">
                                <span class="typeahead__search-icon"></span>
                            </button>
                        </span>
             
                    </div>
                </div>
            </form>
    
        </div>

    </div>
</header>

<nav id="off-canvas-nav" class="navmenu navmenu-default navmenu-fixed-left offcanvas palette-bg-blue-grey-500" role="navigation">
    {{> left-nav }}
</nav>