<header>
    <div class="container-fluid palette-bg-teal-500 text-white">
        <div class="row py-2">
            
            <div class="col-2 col-sm-3 col-xl-3">
                <a href="/" class="hbs-logo text-left d-none d-lg-block">
                    <img src="http://d1gfwsbop52idw.cloudfront.net/static/libs/platypus/0.2/images/branding/hbs-shield.svg" alt="">
                </a>
                <button class="hamburger hamburger--spin d-lg-none" type="button" data-toggle="offcanvas" data-target="#off-canvas-nav" data-canvas="body">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button> 
            </div>
            
            <div class="col-8 col-sm-6 col-xl-6 text-center text-sm-center text-truncate">
                <a href="/" class="btn text-white"><span class="h5 font-weight-bold">Platypus</span><span class="h5 text-opaque hidden-down"> UI/UX Framework</span></a>
            </div>
            
            <div class="col-2 col-sm-3 col-xl-3">
                <ul class="list-unstyled list-inline text-right mb-0">
                    
                    <li class="d-inline hidden-sm-down">
                        <a  href="#search-container" class="btn" data-toggle="collapse" aria-expanded="false" aria-controls="search-container">
                            <i class="fa fa-search text-white" data-toggle="tooltip" data-trigger="hover" data-placement="left" title="Search (CTRL/CMD+F)"></i>
                        </a>
                    </li>
                    
                    <li class="d-inline hidden-sm-down">
                        <a class="btn modal-remote" href="/support" data-modal-title="Support Guide" data-modal-size="lg" data-modal-header="true" data-modal-footer="false">
                            <i class="fa fa-question-circle text-white" data-toggle="tooltip" data-trigger="hover" data-placement="left" title="Support Guide (F1)"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown d-inline float-right">
                        <a class="nav-link dropdown-toggle btn text-white" href="#" id="my-acct" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="my-acct">
                            <a class="dropdown-item" href="#">Preferences</a>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <div class="collapse palette-bg-teal-700" id="search-container">
        <div class="p-2">
      
            <form>
                <div class="typeahead__container">
                    <div class="typeahead__field">
             
                        <span class="typeahead__query">
                            <input class="js-typeahead"
                                   name="q"
                                   type="search"
                                   autocomplete="off"
                                   autofocus="">
                        </span>
                        <span class="typeahead__button">
                            <button type="submit">
                                <span class="typeahead__search-icon"></span>
                            </button>
                        </span>
             
                    </div>
                </div>
            </form>
    
        </div>

    </div>
</header>

<nav id="off-canvas-nav" class="navmenu navmenu-default navmenu-fixed-left offcanvas palette-bg-blue-grey-500" role="navigation">
    {{> left-nav }}
</nav>