{{#article}}
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#best_practices" aria-expanded="true" aria-controls="best_practices">Best Practices
                    </a>
                </h5>
            </div>
        <div id="best_practices" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              {{{best_practices}}}
          </div>
        </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#avoid" aria-expanded="false" aria-controls="avoid">
                Avoid
            </a>
        </h5>
        </div>
        <div id="avoid" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              {{{avoid}}}
          </div>
        </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#resources" aria-expanded="false" aria-controls="resources">
                Resources
            </a>
        </h5>
        </div>
        <div id="resources" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              {{{resources}}}
          </div>
        </div>
        </div>
    </div>
{{/article}}