{{#article}}

    <div id="side-panels" class="p-1" role="tablist" aria-multiselectable="true">
        <div class="card panel">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a class="text-truncate" data-toggle="collapse" {{!-- data-parent="#side-panels" --}} href="#best_practices" aria-expanded="true" aria-controls="best_practices">
                    <i class="fa fa-fw fa-trophy mr-1"></i>Best Practices
                    </a>
                </h5>
            </div>
        <div id="best_practices" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              {{{best_practices}}}
          </div>
        </div>
        </div>
        <div class="card panel">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed text-truncate" data-toggle="collapse" {{!-- data-parent="#side-panels" --}} href="#avoid" aria-expanded="false" aria-controls="avoid">
                <i class="fa fa-fw fa-close mr-1"></i>Avoid
            </a>
        </h5>
        </div>
        <div id="avoid" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              {{{avoid}}}
          </div>
        </div>
        </div>
        <div class="card panel">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed text-truncate" data-toggle="collapse" {{!-- data-parent="#side-panels" --}} href="#resources" aria-expanded="false" aria-controls="resources">
                <i class="fa fa-fw fa-bookmark mr-1"></i>Resources
            </a>
        </h5>
        </div>
        <div id="resources" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              {{{resources}}}
          </div>
        </div>
        </div>
    </div>
{{/article}}