<h2><i class="far fa-brain mr-2"></i> Persuasive Design Patterns</h2>

<div class="carousel row mb-3" data-slick='{"slidesToShow": 2, "slidesToScroll": 2}'>
	{{#each patterns }}
		<div class="col-md-3">
			<a href="/articles/{{slug}}">
			  	<div class="palette-bg-teal-500 p-4 img-container">
			  		<h4 class="text-white">{{title}}</h4>
			  	</div>
			  	<div class="p-4 palette-bg-white">
			    	<p>{{intro}}</p>
			  	</div>
		    </a>
		</div>
	{{/each}}

</div>