{{> breadcrumbs this }}
<div class="page-header p-1">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-truncated">{{page_title}}</h1>
		</div>
	</div>
	<hr>
</div>

<div id="mainbody" class="m-2">
	<ul class="list-group">
		{{#feedback}}
		<li class="list-group-item pl-1">
			{{email}}
		 </li>	
		{{/feedback}}
	</ul>
</div>