<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        {{> gallery-controls }}
        {{> navbar }}

        <div class="row no-gutters">
            <div class="col-lg-2 hidden-md-down p-0 palette-bg-blue-grey-500">
                 {{> left-nav }}
            </div>
            <div class="col-lg-10 p-2">
                
                <ol class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="styles.html">Styles</a></li>
                    <li class="active">Icons</li>
                </ol>

                {{{body}}}

            </div>           
        </div>
        

        {{> footer }}
        {{> scripts }}
        
    </body>
</html>


