<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body class="palette-bg-blue-grey-50">
        {{> gallery-controls }}
        <div class="container-fluid p-0 m-0">
            {{> navbar }}
            <div class="row p-0 m-0" style="margin-bottom: 60px !important;">
                <div class="col-lg-2 p-0 hidden-md-down palette-bg-blue-grey-500">
                     {{> left-nav }}
                </div>
                <div class="col-lg-10 p-0">
                    {{{body}}}
                </div>           
            </div>
            <footer class="footer palette-bg-blue-grey-500">
                {{> footer }}
            </div>
        </div><!--/.container-fluid-->
        {{> scripts }}
    </body>
</html>


