<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body style="background: #F5F5F5 url(images/bg-hbs-1.png) top left no-repeat;">
        {{> gallery-controls }}
        {{> navbar }}

        <div class="row no-gutters mb-3">
            <div class="col-lg-12 p-2">
                
                {{{body}}}

            </div>           
        </div>
        
        {{> footer }}
        {{> scripts }}
        
    </body>
</html>


