<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body class="palette-bg-blue-grey-50 rotating-bg">
        {{> gallery-controls }}
        <div class="container-fluid p-0 m-0">
            {{> navbar }}

            <div class="row p-0 m-0">
                <div class="col-lg-12 p-0">
                    
                    {{{body}}}

                </div>           
            </div>
            
            <footer class="sticky-footer palette-bg-blue-grey-500">
                {{> footer }}
            </div>
         </div><!--/.container-fluid-->
         
         <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Return to the top" data-toggle="tooltip" data-placement="left"><span class="fa fa-chevron-up"></span></a>

        {{> scripts }}
        
    </body>
</html>


