<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body class="palette-bg-blue-grey-50 rotating-bg">
        <div class="load-container load6">
            <div class="loader">Loading...</div>
        </div>
        {{> gallery-controls }}
        <div class="container-fluid p-0 m-0">
            {{> navbar }}

            <div class="row p-0 m-0">
                <div class="col-lg-12 p-0">
                    
                    {{{body}}}

                </div>           
            </div>
            
            <footer class="sticky-footer palette-bg-blue-grey-500">
                {{> footer }}
            </footer>
        </div><!--/.container-fluid-->
        
        {{> modals }}
        {{> scripts }}
        
    </body>
</html>


