<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        {{> gallery-controls }}
        {{> navbar }}

        <div class="row">
            <div class="col-lg-2 hidden-md-down pr-0 palette-bg-blue-grey-500">
                 {{> left-nav }}
            </div>
            <div class="col-lg-8 p-2">

                {{{body}}}

            </div>
            <div class="col-lg-2 pt-2 pr-2">
                {{> panels }}
            </div>            
       </div>
        
        <footer class="footer palette-bg-blue-grey-500">
            {{> footer }}
        </div>
        {{> modals }}
        
        {{> scripts }}
        
    </body>
</html>


