<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body class="palette-bg-blue-grey-50">
        {{> gallery-controls }}
        <div class="container-fluid p-0 m-0">
            {{> navbar }}
            <div class="row p-0 m-0">
                <div class="col-lg-2 p-0 hidden-md-down palette-bg-blue-grey-500">
                     {{> left-nav }}
                </div>
                <div class="col-lg-8 p-0">
                    {{{body}}}                    
                </div>
                <div class="col-lg-2 p-0">
                    {{> panels }}
                </div>            
           </div>
            <footer class="footer palette-bg-blue-grey-500">
                {{> footer }}
            </div>
        </div><!--/.container-fluid-->
        {{> modals }}
        {{> scripts }}
    </body>
</html>


