<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Platypus</title>
        <meta name="viewport" content="width={{viewport}}, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://d1gfwsbop52idw.cloudfront.net/static/libs/platypus/1.0/platypus.min.css"/>
    </head>
    <body>
        {{> gallery-controls }}
    	<div class="container-fluid mt-1">
            	{{{body}}}
    	</div>
        {{> modals }}
        <script src="https://d1gfwsbop52idw.cloudfront.net/static/libs/platypus/1.0/platypus.min.js"></script>
        <script src="/js/demo.js"></script>
    </body>
</html>


