<div class="palette-bg-blue-grey-100 p-3 rotating-bg">
  <div class="row">
      <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-8 offset-xl-2 p-2 palette-bg-white">
        <div class="row">
            <div class="col-lg-3 hidden-lg-down">
                <h1 class="display-4 text-muted">404</h1>
            </div>
            <div class="col-sm-12 col-lg-9">
                <h1 class="display-4 text-muted">Oops</h1>
                <p class="lead">The page you're looking for does not exist.</p>
                <p>You may want to head back to the homepage. <br>If you think something is broken, report a problem.</p>

                <div>{{error}}</div>
                
                <hr>
                <a class="btn btn-primary" href="#"><i class="fa fa-arrow-circle-left"></i> Go to homepage</a>
                <a class="btn btn-secondary" href="#"><i class="fa fa-bug"></i> Report a problem</a>
            </div>
        </div>
      </div>
  </div>
</div>