
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#section-A" role="tab">For Students</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#section-B" role="tab"></i>For Faculty</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#section-C" role="tab">For Staff</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#search" role="tab"><i class="fa fa-search"></i></a>
	</li>
</ul>



<div class="tab-content py-3">
	<div class="tab-pane active" id="section-A" role="tabpanel">
		<div class="row" style="height: 600px; overflow-y: auto;">
			<div class="col-md-3">
				<a href="#" class="btn btn-secondary btn-block">Category 1</a>
				<a href="#" class="btn btn-secondary btn-block">Category 2</a>
				<a href="#" class="btn btn-secondary btn-block">Category 3</a>
			</div>
			<div class="col-md-9">
				<h3>For Students</h3>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
			</div>
		</div>
	</div>
	<div class="tab-pane" id="section-B" role="tabpanel">
		<div class="row" style="height: 600px; overflow-y: auto;">
			<div class="col-md-3">Left</div>
			<div class="col-md-9">
				<h3>For Faculty</h3>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="section-C" role="tabpanel">
		<div class="row" style="height: 600px; overflow-y: auto;">
			<div class="col-md-3">Left</div>
			<div class="col-md-9">
				<h3>For Staff</h3>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="search" role="tabpanel">
		
		<div style="height: 600px; overflow-y: auto;">
			<div class="input-group">
			  	<input type="text" class="form-control" placeholder="Search content">
			  	<span class="input-group-btn">
			    	<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
			  	</span>
			</div>
		</div>

	</div>
</div>
	
