<ul class="list-group">
	{{#articles}}
	<li class="list-group-item">{{ title }} 

		<span class="float-xs-right">
			<a href="/articles/edit/{{id}}#" class="btn"><i class="fa fa-edit"></i></a>
			<form class="d-inline" action="/articles/destroy/{{id}}" method="post">
				<button href="#" class="btn"><i class="fa fa-trash"></i></button>
			</form>
		</span>

	 </li>	
	{{/articles}}
</ul>