{{> breadcrumbs this }}

<div class="page-header p-1">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="text-truncated">{{page_title}}</h1>
		</div>
		<div class="col-sm-5">
			<div class="btn-group float-xs-right">
				 <div class="btn-group btn-group-justified-xs" role="group" aria-label="Justified button group">
				   	<a class="btn btn-primary modal-remote" href="/categories/new"
					  	data-modal-title="New Category"
					  	data-modal-size="lg"
					  	data-modal-header="true"
					  	data-modal-footer="false"><i class="fa fa-plus"></i><span class="hidden-sm-down"> New</span></a>
				 </div>
			</div>
		</div>
	</div>
	<hr>
</div>


<div id="mainbody" class="m-2">

	<ul class="list-group">
		{{#categories}}
		<li class="list-group-item">{{ title }} 

			<span class="float-xs-right">
				<a class="btn modal-remote" 
					href="/categories/edit/{{id}}"
				  	data-modal-title="Edit Category"
				  	data-modal-size="lg"
				  	data-modal-header="true"
				  	data-modal-footer="false"
					><i class="fa fa-edit"></i></a>
				<form class="d-inline" action="/categories/destroy/{{id}}" method="post">
					<button href="#" class="btn confirm-delete"><i class="fa fa-trash"></i></button>
				</form>
			</span>

		 </li>	
		{{/categories}}
	</ul>

</div><!--.#mainbody-->
