<div id="mainbody">

	<form action="/categories/create" method="post" data-parsley-validate>
	  
	  	<div class="row form-group">
		  	<div class="col-md-3 hidden-sm-down text-xs-right">
		    	<label for="_parent">Parent Category</label>
		  	</div>
		  	<div class="col-md-9">
		  		<label class="hidden-md-up d-block" for="_parent">Category</label>
		  		<select name="_parent" class="select2 form-control" data-placeholder="Select a parent category or leave blank to assign it as top level">
		  			<option value=""></option>
					{{#each parents}}
				  		<option value="{{_id}}">{{title}}</option>
					{{/each}}
				</select>
		  	</div>
		</div><!--/.row-->

	  	<div class="row form-group">
		 	<div class="col-md-3 text-md-right">
		    	<label for="title">Title</label>
		  	</div>
		  	<div class="col-md-9">
		  		<input name="title" type="text" class="form-control" autofocus required>
		  	</div>
		</div><!--/.row-->

	  	<div class="row form-group">
		 	<div class="col-md-3 text-md-right">
		    	<label for="intro">Intro</label>
		  	</div>
		  	<div class="col-md-9">
		  		<input name="intro" type="text" class="form-control">
		  	</div>
		</div><!--/.row-->		

	  	<div class="row form-group">
		  	<div class="col-md-3 text-md-right">
		    	<label for="icon">Icon</label>
		  	</div>	
		  	<div class="col-md-9">
		  		<input name="icon" type="text" class="form-control">
		  	</div>
		</div><!--/.row-->

	  	<div class="row form-group">
	  		<div class="col-md-3 text-md-right">
	  		</div>
		  	<div class="col-md-9">
			 	<div class="checkbox">
			    	<label>
			      		<input name="published" type="checkbox" checked> Published?
			    	</label>
				</div>
		  	</div> 
	 	</div><!--/.row-->	

	  	<div class="row form-group">
	  		<div class="col-md-3 text-md-right">
	  		</div>
		  	<div class="col-md-9">
			 	<div class="checkbox">
			    	<label>
			      		<button type="submit" class="btn btn-secondary btn-primary">Create</button>
			    	</label>
			  	</div>
		  	</div> 
	 	</div><!--/.row-->	
	 	
	</form>

</div><!--/#mainbody-->