{{#category}}
    
    {{> breadcrumbs this }}
    <div class="page-header p-1">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-truncated">{{title}}</h1>
            </div>
        </div>
        <hr>
    </div>


    <div id="mainbody" class="m-2">

        <div class="row">
            {{#each articles}}
                <div class="col-xs-6 col-sm-3 col-lg-3 col-lg-4 col-xl-2 text-xs-center">
                	<a href="/articles/{{slug}}" class="palette-text-black-darker">
        	        	<div class="palette-bg-blue-grey-100 p-2 mb-2">
        	        		<img src="/images/ui-components-thumbs/{{slug}}.png" class="img-fluid">
        	        		<h5 class="text-truncate mt-1">{{title}}</h5>
        	        	</div>
                	</a>
                </div>
            {{/each}}
        </div>
    
    <hr>
    
    <a href="#" class="btn btn-primary"><i class="fa fa-angle-double-left"></i> Back</a>

    </div><!--/#mainbody--> 

{{/category}}